body {
    .highlight

{
    display: flex; /* Mengaktifkan Flexbox */
    flex-wrap: nowrap; /* Mencegah wrapping ke baris berikutnya */
    justify-content: space-between; /* Memastikan jarak antara kartu sejajar */
    overflow-x: auto; /* Jika kartu lebih lebar dari container, bisa di-scroll */
}

.card {
    width: 30%; /* Atur lebar kartu sesuai kebutuhan Anda */
    /* Anda dapat menyesuaikan nilai width sesuai dengan jumlah kartu dan lebar layar */
}


/* Gaya untuk tabel */
table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Gaya untuk header tabel */
thead th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Gaya untuk sel-sel dalam tabel */
tbody td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Gaya untuk baris-genap dalam tabel */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Gaya untuk baris-ganjil dalam tabel */
tbody tr:nth-child(odd) {
    background-color: #fff;
}

/* Gaya untuk judul halaman */
h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

}
